/*electricity issue to be continue!!! */
*{
    margin: 0;
    padding: 0;
    font-family: var(--ffu);
}
:root{
    --p_color:#0f2f44;
    --s_color:#fff;
    --th_color:#e0eeff;
    --fth_color:#8484bf;
    --hover_color:#fff9e6;
    --six_color:#ffc712;
    --seventh_color:#f5f5f5;
    --ffu:'Ubuntu', sans-serif; 
    --ffa:'Abril Fatface', 'cursive';
}
.container{
    width: 100%;
}
.top{
    
    width: auto;
    
    background-color:var(--p_color);
    color:var(--s_color);
}
.p_top{
    padding-top: 10px;
    padding-left:  30px;
    padding-right: 30px;
}

.navbar .navbar-brand{
    padding-left: 25px ;
}

.navbar-brand.logo img {
    max-height: 40px;
    padding-left: 65px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-nav{
    padding-right: 130px;
}
li{
    padding-left: 15px;
    color: var(--p_color);
    margin:30px 0px;
}

.navbar-brand{
    height: 40px;
    margin-left: 100px;
}
header{
    background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  .hdr{
    padding: 170px 0 0 188px;
    
    
  }
  .hdr h1{
    font-size: 60pt;
    color: var(--p_color);
    font-family: var(--ffa);
  }
  .hdr h3{
    font-size: 25pt;
    line-height:1.2pt;
    color: var(--p_color);
  }
  .hdr h5{
  color: var(--fth_color);
  letter-spacing: 10px;
  }
  .hdr a{
    padding: 10px 30px 15px 30px;
    background-color: var(--fth_color);
    text-decoration: none;
    color: var(--s_color);
    border-radius: 10px;
  }

  .play-button {
    margin-top: -10px;
    margin-left: 164px;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background-color: var(--s_color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* :( */
  }
img{
    padding-left: 5px;
}

  .pos{
    position: absolute;
  }

 
  .navbar-nav .nav-item .nav-link {
    color: var(--p_color); 
    font-weight: 700;
  }

  
  .navbar-nav .nav-item .nav-link.active {
    color: var(--p_color);
     font-weight: 700;
  }
.btnt{
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    background-color: var(--s_color);
    border: 1px solid;
}
.btnt{
    text-decoration: none;
}
.about{
  padding-top: 50px;
  width: auto;
  height: 600px;
  background-color: var(--s_color);
  
}
.l_side{
  margin-left: 90px;
  
}
.l_side h6{
  line-height: 1.2pt;
}
.about .l_side h3{
  font-family: var(--ffa);
}
.l_side a{
  padding: 14px 30px 15px 30px;
  text-decoration: none;
  border-radius: 5px;
}

.a_1{
  color: var(--s_color);
  background-color: var(--six_color);
}
 .a_2{
  color: var(--p_color);
  background-color: var(--s_color);
  box-shadow: 7px 13px 24px 5px rgba(4, 4, 4, 0.221);
}
.our_skill{ text-align: right;
  background-color: var(--s_color);
  width: auto;
  height: 600px;
  padding-top: 30px;
}
.our_skill h3{
  font-family: var(--ffa);
}
.pg_bar{
  position: relative;
}
.img_bar{
  position: absolute;
  right: 12px;
  top: 10px;
  height: 30px;
  width: 30px;
  object-fit: contain;
  background-color: var(--s_color);

}
.im_bg{
  position: absolute;
  right: 10px;
  top: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-color: var(--s_color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 7px 4px 24px 5px rgba(4, 4, 4, 0.221);

}
.im_bg2{
  position: absolute;
  right: 10px;
  top: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-color: var(--s_color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 7px 4px 24px 5px rgba(4, 4, 4, 0.221);
}
.im_bg3{
  position: absolute;
  right: 10px;
  top: 110px;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-color: var(--s_color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 7px 4px 24px 5px rgba(4, 4, 4, 0.221);
}
.im_bg4{
  position: absolute;
  right: 10px;
  top: 170px;
  width: 50px;
  height: 50px;
  border-radius: 50%; 
  background-color: var(--s_color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 7px 4px 24px 5px rgba(4, 4, 4, 0.221);
}
@media(max-width:1180px){
.about{
  height: 1000px;
}
}
.our_services{
  width: auto;
  height: 450px;
  background-color: var(--seventh_color);
}
.t_part{
  padding-top: 20px;
  text-align: center;
}
.t_part h3{
 font-family: var(--ffa);
}
.our_services  .ct{
  background-color: #e9e9e9;
  position: relative;
}
.our_services .ct .cti{
  
  width: 100px;
}
.our_services .ct .ctt{
  background-color: #eeeeee;
  width:  calc(100% - 100px);
}
.our_services .ct .overlay{
  background-color: var(--p_color);
  position: absolute;
  inset: 0;
  color: var(--s_color);
  transform: scaleY(0);
  transform-origin: center;
  transition: .5s;
}
.our_services .ct:hover .overlay{
  transform: scaleY(1);
}
.overlay img{
  align-items: center;
  text-align: center;
}
.overlay h3{
  text-align: center;
}
.i_img{
  padding: 60px 140px 0 140px;
}
.i_bg{ margin: 70px 140px 0 140px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffc712;
}
.ibg{
  padding-top: 20px;
  padding-left: 17px;
}
@media(max-width:995px){
  .our_skill{
    height: 1100px;
  }
.our_services{
  height: 1000px;
}
.i_bg{ margin: 10px 140px 0 140px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffc712;
}
.i_img{
  padding: 60px 215px 0 215px;
}

}
.ct{
  margin-bottom: 20px;
}
/*electricity issue to be continue!!! */